<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    
</head>
<body>
<div align="center">
    <h1>Create New Student</h1>
    <br />
     <div class="col-sm-4">
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
 
      
 		<div alight="left">
            <tr>
                <label class="form-label" >UserName</label>
                <td>
	                
	                <input type="text" th:field="*{username}" class="form-control"  />
                </td>
            </tr>
         </div>   
            
          	<div alight="left">
          
            <tr>
                 <label class="form-label" >password</label>
                <td><input type="password" th:field="*{password}" class="form-control"  /></td>
            </tr>
            </div> 
            
			<br>
            <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">Login</button> </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>